.MySelect{
    width: 14vw;
    height: 3vw;
    border: none;
    background-color: #fff;
    color: #ED3F40;
    font-weight: bold;
    font-size: 18px;
    border-radius: 30px;
    border: 2px solid #ED3F40;
    padding: 5px;
}

.MyOption{
    color: black;
}