.post  {
    color: #7D9794;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    min-height: 250px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 60vw;
}



.date_cont  {
    display: flex;
    flex-direction: column;
    gap: 1px;
    justify-content: last baseline;
    align-items: center;
}

.date_num  {
    font-size:48px;
    font-weight: bold;
}

.date_month  {
    font-size:21px;
    font-weight: bold;
}

.date_year {
    font-size:24px;
    font-weight: bold;
}

.titleBody {
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    align-items: start;
}

.title  {
    font-size: 48px;
    font-weight: bold;
}

.body  {
    font-size: 24px;
}