.form_btn  {
    padding: 5px 15px;
    margin: 6px;
    color: teal;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
    border: 1.5px solid teal;
    cursor: pointer;
    border-radius: 9px;
}