.form_btn  {
    text-decoration: none;
    min-width: 120px;
    height: 60px;
    padding: 20px;
    border: none;
    background-color: white;
    font-weight: bold;
    color: #ED3F40;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}

.form_btn:hover{
    transform: scale(0.95);
    transition: 500ms;
}

.form_btn:active{
    border: 2px solid #ED3F40;
    transition: 10ms;
}