.img  {
    width: 30%;
    border-radius: 30px;
}
.form  {
    text-align: center;
}

.up_part  {
   text-align: start;
}

.post  {
    border: 2px solid teal;
    border-radius: 30px;
    padding: 10px;
    text-align: center;
    margin: 5px 0;
    background-color: rgba(0, 168, 168, .4);
}

.formForPostItem  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    gap: 20px;
    flex-direction: column;
    
}