.like{
    text-decoration:none;
    border: none;
    font-size: 25px;
    transition: all 300ms;
}

.like:hover{
    transform: scale(0.9);
}

.like:active {
    transform: scale(0.8);
}

.down{
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px
}

.date  {
    color: grey;
    font-size: 10px;
    margin-left: 5px;
}

.counter  {
    font-size: 25px;
}